services:
  app:
    image: dzencode-test-task:local
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 3000
      WS_PATH: /ws
    volumes:
      - ./data:/app/data
