:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --app-header-height: 64px;
  --app-sidebar-width: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 992px) {
  :root {
    --app-sidebar-width: 25vw;
  }
}

@media (min-width: 1200px) {
  :root {
    --app-sidebar-width: 16.666667vw;
  }
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
